.label-style {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition-duration: 0.5s;
}

/* Hiệu ứng khi hover */
.label-style:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: -fx-scale-x 0.5s, -fx-scale-y 0.5s;
    -fx-opacity: 0.7;
}