.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #bad5d6,#ffdea9);
}
.add:hover{	
	 -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-text-fill: red;
     transition: -fx-background-color 0.5s ease,
                -fx-scale-x 0.5s ease,
                -fx-scale-y 0.5s ease;
}
.add{
	-fx-text-fill: white;
}

.next:hover {

    -fx-translate-y: -10;
    -fx-text-fill: red;
    transition: -fx-translate-y 0.5s ease;
}
.follow{
	-fx-font-weight:bold;
	-fx-background-color:black;
	-fx-background-radius:20;
	-fx-text-fill:white;
}
.follow:hover {

	-fx-font-weight:bold;
   -fx-background-color: white;
   -fx-text-fill:black;
   -fx-border-color:black;
   -fx-border-radius:20;
   -fx-border-width:3;
}
.follow:pressed {
	-fx-font-weight:bold;
   -fx-background-color: white;
   -fx-text-fill:black;
   -fx-border-color:black;
   -fx-border-radius:20;
   -fx-border-width:3;
   -fx-rotate:10;
}
.follow{
	-fx-font-weight:bold;
	-fx-background-color:black;
	-fx-background-radius:20;
	-fx-text-fill:white;
}
.unfollow:hover {

	-fx-font-weight:bold;
   -fx-background-color: white;
   -fx-text-fill:black;
   -fx-border-color:black;
   -fx-border-radius:20;
   -fx-border-width:3;
}
.follow:pressed {
	-fx-font-weight:bold;
   -fx-background-color: white;
   -fx-text-fill:black;
   -fx-border-color:black;
   -fx-border-radius:20;
   -fx-border-width:3;
   -fx-rotate:10;
}
.backgroundColor{
    -fx-background-color: linear-gradient(to right,#3a6186,#89253e);
}
.transparent-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.transparent-scroll-pane .viewport {
    -fx-background-color: transparent;
}